<footer>
    <div> Made with &#10084; and ☕
 by <a href="https://github.com/TiagoSRodrigues">Tiago Rodrigues</a>.
        <img src="/assets/img/github_git_icon_145985.svg">
        <a href="https://github.com/TiagoSRodrigues/tiagosr" target="_blank">Version: {{ site.site_version}}</a>
        <!-- Subscribe via
        <a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a>-->
    <div style="text-align: center; font-size: 0.7rem;">
        This page is more than an introduction, it's a dynamic lab for testing new techniques. <br>
        Any formatting issues are part of this experimental process.<a href="https://tiagosr.eu/contact/" style="color: var(--logo-color);">Your feedback is always welcome and valued.</a>
    </div>

</footer>
